.alphabet-letter {
    display: inline;
    list-style: none;
 
    margin: 0  10px;
    width: 30px;
}

.alphabet-list {
  
    margin-right:25px;
    display: flex;
    justify-content: space-evenly;

}

.no-results {
    margin-top: 40px
}

.searchBar {
    margin-top: 15px;
   
}

#searchQuery {
    margin-left: 25px;
    display:inline;
}

#filterQuery {
    margin-left: 37px;

}
