#detail-bubble {
   
    background-color: #212529;
    color: wheat;
    grid-row: 6/7;
    grid-column: 1/6;
    border: 2px solid #212529;
    z-index: 2;
    text-decoration: none;
}

#detail-bubble-list {
    list-style: none;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-color: #212529;
}



.detail-bubble-list-item:hover {
    text-decoration: none;
    font-size: 2em;  
}

