.detail-record-grid-container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-auto-rows: auto;
  }

.detail-record-grid-item-artist-description {
    padding: 15px;
    grid-row: 1;
    grid-column: 5/10; 
  }
  
  .detail-record-grid-item-title-artist-label {
    grid-row: 1;
    grid-column: 10/20;
    display: grid;
 
    grid-template-columns: auto;
    grid-auto-rows: 2;
  }
  
  .detail-record-grid-item-image {
    grid-row: 1/4;
    grid-column: 2/9;
    height: minmax(300px);
    width: minmax(300px);
   
  }
  .detail-record-grid.titleAndDescription {
    grid-column: 10/20;
    grid-row: 1
  }
  
  .detail-record-grid-item-description {
    grid-row: 2;
    margin-left: 35px;
    grid-column: 9/20;
    padding: 0 10px;  
  }

  .detail-record-linebreak {
    grid-column: 2/20;

  }

  .preserveLineBreaks {
    white-space: pre-wrap;
overflow-wrap: break-word;
  }
  
  .detail-record-grid-related-artist {
    grid-row: 8;
    grid-column: 2/14;
    margin-left: 20px;
    float-left:20px;
    clear: right;
    display: inline;
  }
  
  .detail-record-grid-related-records {
    grid-row: 9;
    grid-column: 2/14;
    margin-left: 20px;
    margin-top: 10px;
    float-left:20px;
    clear: right;
    display: inline;
 

  }

  .detail-record-grid-related-header2 {
    grid-row: 14;
    grid-column: 2/14;
    margin-left: 25px;
    margin-top: 60px;
    float-left:20px;
    clear: right;
    display: inline;
 
  }

  .label-image-hover {
    opacity: 50%
  }

  .inline-header {
    display:inline;
    
 
  }

  #discover-more {
    margin-top: 10px;
    margin-left: 300px;
  }

  #title-artist {
    grid-row: 1;
    grid-column: 1;
  
  }

  .detail-record-label-img-container {
    grid-row: 1;
    grid-column: 2;
  }

  .detail-record-img{
 
    max-width: 200px;
    max-height: 200px;
    grid-row: 1;
    grid-column: 2;
   
    min-width: 200px;
    min-height: 200px;
    float-right: 200px;
    display: inline;
    margin-top: 0;
    margin-bottom: 10px;
    object-fit: fill;

  }


  .detail-record-grid-related-records2 {
    grid-row: 15;
    grid-column:2/14;
  }

  .detail-record-buttonToCart {
    grid-column: 18;
    grid-row:1;
    max-height:100px;
    margin-right:50px;
    border: 1px solid black;
  }

  .inlineList {
    display: inline;
    margin-right: 10px;
    float-left: 20px;
    margin: 0; padding: 0;
  
  }

  .genresList {
    float-left: 20px;
    margin: 0; padding: 0;
    

  }

  .genresListDiv {
    aligh-content: left;
    justify-content: left;
    margin: 0; padding: 0;

    display: flex;
  }

  #tracklist {
 
    grid-column: 2/4;
    padding-top:10px;
    grid-row: 4;

  }

  .trackDetail {
    font-size: 10px;
    margin: 1px;

  }

  #discover-more {
    position: absolute;
    float-left: 100px;
  }