.genreTitle {
    margin-right: 30px;
    color: brown;    
}

#genreList {
    list-style-type: none;
}

#genreSide {
    padding: 5px;
    overflow: scroll;
    font-size:12px;
    height: 500px;

}

  .genre-title {
    font-size: 15px;

  }



 



