.record-div {
    overflow: hidden;
    display: inline-flex;
}

.link_class {
    display: block;
    height: 100%;
    width: 100%;
}
.recordItemGridContainer {
    display: grid;
    height: 200px;
    width: 200px;
    margin: 25px;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
   
}
.deleted-record {
    opacity: 100%;
    transition: 2000ms;
  }

.recordItem-artwork {
    background-color: blue;
}

.recordItem-Image {
    grid-column: 1/6;
    grid-row: 1/6;
   width: 100%;
   height: 100%;
    object-fit: cover;
    z-index: 1;
}

.recordItem-Image:hover {
    grid-column: 1/6;
    grid-row: 1/6;
   width: 100%;
   height: 100%;
    object-fit: cover;
    z-index: 1;
    size-adjust: 1.45rem;
}

.recordItem-Image:hover {
    opacity: 50%;
    


}
.recordItemGridContainer .recordItem-gridButton{
    border: 4px solid red;
    grid-column: 1/4;
    grid-row:8
}


