.record-div {
    overflow: hidden;
    display: inline-flex;
}

.link_class {
    display: block;
    height: 100%;
    width: 100%;
}

.deleted-record {
    opacity: 100%;
    transition: 2000ms;
  }

.recordItem-artwork {
    background-color: blue;
}

.recordItem-Image {
    grid-column: 1/6;
    grid-row: 1/6;
   width: 100%;
   height: 100%;
    object-fit: cover;
    z-index: 0;
 
}

.recordAddToCartButton {
    grid-row: 1;
    grid-column: 5;

    align-items: end;
    justify-content: end;
 
}

.addToCartImage {
    align-self: end;
    margin-right: 0;
    color:red;
}

.hidden {
    display: none;
}

.shown {
    opacity: 100%;
    float: right 100%;
    z-index: 1;
}


