

.recordgrid-item:hover {
  opacity: 60%;
}

.recordgrid-item {
  display: inline-block;
  margin-right:10px;
  margin-top:10px;
  border-botton:10px solid black;
}
.related-recordgrid-item{
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}



