.recordgrid-item{
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  height: 200px;
  width: 200px; 
  animation: fadein 0.5s linear 0s 1 alternate;
  margin: 10px;
  display:grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: repeat(6, 1fr);
}

.record-div {
    overflow: hidden;
    display: inline-flex;
    object-fit: fill;
}

.link_class {
    display: block;
    height: 100%;
    width: 100%;
}

.deleted-record {
    opacity: 100%;
    transition: 2000ms;
  }

.recordItem-Image {
     width: 100%;
     height: 100%;
     object-fit: fill;
     overflow: hidden;
     z-index: 0;
}

.recordAddToCartButton {
    justify-content: end;
    z-index: 2;
    padding: 5px;
    float: right;
}

.addToCartImage {
    align-self: end;
}

.hidden {
    display: none;
}

.shown {
    opacity: 100%;
    float: right 100%;
    z-index:1;
}

.detail-bubble {
  color: black;
  z-index: 3;
  text-decoration: none;
  padding:5px;
  animation: fadein 0.2s forwards;
}

@keyframes fadein {
  from {
    opacity: 24%;
  }
  to {
    opacity: 100%;
  }
}

#detail-bubble-list {
  list-style: none;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration-color: #212529;
}

.detail-bubble-list-item:hover {
  text-decoration: none;
  font-size: 2em;  
}


@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100px;
  }
}